/* CSS para todas las planas web */
/* Definir atributos globales */

/* Reset browser default values to 0. Adding responsive options */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Decoration section */
body {
	background-color: black;
	color: white;
}

a:hover, a:visited, a {
	color:white;
	text-decoration: none;
}

article, footer, aside {
    text-align: center;
}

/* Menu */
nav {
	background-color: purple;
	text-align: center;
	}
nav a {
    background-color: gray;
    font-size: 150%;
    border-radius:50px 0px 50px 0px;
}
.right {
   border-radius: 0px 50px 0px 50px;
}

/* Tables */
table, td, th, tr {
    border: 1px solid white;
}

/* Canvas declarations */
canvas {
    height: 300px;
}

/* HTML5 compatibility */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/* Grid view */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Col style definition */
[class*="col-"] {
    float: left;
    border: 1px solid yellow;
}

.row {clear: both;}

/* Responsive mobile-tablet */

@media screen and (max-width:599px) {
	[class*="col-"] {
		width: 100%;
	}
}

@media screen and (min-width:600px) and (max-width:767px){
	.col-1,.col-2,.col-3 {
		width: 25%;
	}
	.col-4,.col-5,.col-6{
		width: 50%;
	}
	.col-7,.col-8,.col-9{
		width: 75%;
	}
	.col-10,.col-11,.col-12{
		width: 100%;
	}
	nav a {
            font-size: 100%;
        }
}
