/* CSS para todas las planas web */
/* Definir atributos globales */

/* Reset browser default values to 0. Adding responsive options */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Decoration section */
p {
    color:#f1c40f;
    margin-bottom:5px;
}
h3 {
    color:#f39c12;
    margin-top:10px;
}
main,form,body {
    background: linear-gradient(#000,#1c1e20);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
	/*background-image: url(resources/background.jpg);*/
	color: white;
	float:none !important;
	margin:auto;
    border:0 !important;
}

a:hover, a:visited, a {
	color: #e74c3c;
	text-decoration: none;
}
footer{
    color:#95a5a6;
    border:0px !important;
}
article, footer, aside{
    text-align: center;
}
align {

}

/* Menu */
a {
	text-align: center;
	font-family: CheapFire;
}
nav a {
    background-color: #303030;
    font-size: 150%;
    border-radius:50px 0px 50px 0px;
}
.right {
   border-radius: 0px 50px 0px 50px;
}

/* Tables */
table, td, th, tr {
    border: 1px solid #2980b9;
    text-align:center;
    border-collapse: collapse;
}
td {
    color: #f1c40f;
}
th{
    color: #c0392b;
}
h1 {
    margin-top:5px;
    color: #d35400;
    text-align: center;
}

/* Forms */
#ia{
    margin-top:20px;
}
#player,#facil,#medio,#dificil,#imposible{
    margin-top:3px;
}
fieldset {
    text-align:center;
    border:0px !important;
    padding-top:5px;
    min-height:210px;
    color: #f1c40f;
}
form p {text-align:center;}
label,form p {
    float: left;
    clear: left;
    margin-left:5px;
    margin-bottom:5px;
}
input,select,textarea {
    float: right;
    clear: right;
    margin-right:5px;
    margin-bottom:5px;
}

/* Canvas declarations */
canvas {
    height: 300px;
    background-image:url(resources/canvas.png);
    background-repeat: no-repeat;
    background-position:center;
}

/* HTML5 compatibility */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/* Grid view */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Col style definition */
[class*="col-"] {
    float: left;
    border: 1px solid #3498db;
}

.row {clear: both;}

/* Responsive mobile-tablet */

@media screen and (max-width:599px) {
	[class*="col-"] {
		width: 100%;
	}

	/* Menu modifications */

	nav a {
        border-radius: 0px 0px 0px 0px;
    }
    .right {
        border-radius: 0px 0px 0px 0px;
    }
    .gmb {
        border-radius: 100px 100px 0px 0px;
    }
    .rmb {
        border-radius: 0px 0px 100px 100px;
    }
     /* form */
     input,select,textarea {
         width:100px;
         height:20px;
     }

     /* tables */
     /*.hide{
        display:none;
     }*/

    /* Transforms */
    nav a:hover{
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }nav a{
        -moz-transition: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
    nav p:hover {
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    } nav p {
        -moz-transition: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

@media screen and (min-width:600px) and (max-width:767px){
	.col-1,.col-2,.col-3 {
		width: 25%;
	}
	.col-4,.col-5,.col-6{
		width: 50%;
	}
	.col-7,.col-8,.col-9{
		width: 75%;
	}
	.col-10,.col-11,.col-12{
		width: 100%;
	}
	/* Menu Styling */
    .move {
        width: 50%;
    }
    .top{
        border-radius: 0px 0px 100px 100px;
    }
    .bot{
        border-radius: 100px 100px 0px 0px;
    }
    .topr {
        border-radius: 0px 100px 0px 100px;
    }
    .rmb{
        border-radius: 100px 0px 100px 0px;
    }

    /* form */
    input,select,textarea {
        width:150px;
        height:20px;
    }

    /* tables */
    td,th,table { width:5%; }

    /* Transforms */
    nav a:hover{
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }nav a{
        -moz-transition: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
    nav p:hover {
        -moz-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    } nav p {
        -moz-transition: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

/* Fonts */
@font-face {
    font-family: CheapFire;
    src: url(fonts/chp-fire.ttf);
}
@font-face {
    font-family: Mecha;
    src: url(fonts/Mecha.ttf);
}
@font-face {
    font-family: MechaB;
    src: url(fonts/Mecha_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Start;
    src: url(fonts/PressStart2P.ttf);
}
@font-face {
    font-family: Orion;
    src: url(fonts/OrionPax.ttf);
}

/* Animations,transitions,transformations */
nav a{
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
nav a:hover {
    transform: rotate(180deg);
    border-color:orange;
}
nav p {
    transition: width 0.5s, height 0.5s, transform 0.5s;
    color: #e74c3c;
}
nav p:hover {
    transform: rotate(-180deg);
}

form:hover, td:hover, tr:hover, section:hover, fieldset:hover {
    transition: width 0.5s, height 0.5s, transform 0.5s;
    border-color:orange;
}

/* frames */
iframe {
    border:0px;
    height:400px;
}